.DS_Store
Thumbs.db

.*
!.well-known

node_modules
dist
build
.vite

venv
__pycache__
*.pyc
*.pyo

.env
.env.local
.env.production
.env.development

*.log
*.sqlite3
*.db

.dockerignore
Dockerfile
docker-compose.yml


*.swp
*.swo
*.swn
.idea/
.vscode/